<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Редактирование Диеты</title>
</head>
<body>
    <header></header>
    <nav class="noselect">
        <div class="menu">
            <div class="menu__title logo-block">
                <span class="logo-block__text">Taste</span>
            </div>
            <div class="menu__title menu__title_margin-85-15">
                <a href="" class="menu__link" tabindex = "1">Главная</a>
            </div>
            <div class="menu__title menu__title_margin-72">
                <a href="" class="menu__link" tabindex = "2">Архив</a>
             </div>
            <div class="menu__title menu__title_margin-50">
                <a href="" class="menu__link" tabindex = "3">Редактор</a>
            </div>
            <div class="menu__title menu__title_margin-52">
                <a href="" class="menu__link" tabindex = "4">Профиль</a>
            </div>
            <img src="{% static 'img/quesiton.svg'%}" alt="" class="menu__img menu__img_margin-88">
            <!-- menu_link -->
        </div>
        <div class="page-name">
            <span class="page-name__title">Изменение диеты</span>
        </div>
    </nav>
    <main class="noselect">
        <div class="wrapper">
            <form name="mainForm" method="post" action="/horoscope/meri/lao" class="main-form">
                {% csrf_token %}
                <div class="up-part">
                    {% comment %} {%if not_or_many_error %}
                        <div>Пожалуйста, введите название, в котором будет от 0 до 25 символов</div>
                    {%endif%} {% endcomment %}
                    <input type="text" class="up-part__input" tabindex = "5" name="nameInput" placeholder = "Введите название диеты">
                    <div class="up-part__block-first">
                        <input type="checkbox" class="up-part__checkbox" id="up-part__checkbox-1" tabindex = "6" name="checkboxres">
                        <input type="date" class="up-part__datetime" disabled id="up-part__date-1" 
                         onkeydown="return false" tabindex = "7" name="data1">
                        <div class="up-part__div">НАЧАЛО</div>
                    </div>
                    <div class="up-part__block-second">
                        <input type="checkbox" class="up-part__checkbox" id="up-part__checkbox-2" tabindex = "8" name="checkboxres">
                        <input type="date" class="up-part__datetime" disabled id="up-part__date-2" 
                         onkeydown="return false" tabindex = "9" name="data1">
                        <div class="up-part__div">Окончание</div>
                    </div>
                    {% comment %} max="2100-01-01" min="2023-01-01" {% endcomment %}
                </div>
                <div class="main-part">
                    <div class="main-part__subblock" tabindex = "10">
                        <a href = "#popup"><div class="main-part__plus"></div></a>
                        <span class="main-part__title">Связанные ограничения:</span>
                    </div>
                    <div class="list">
                        <div class="list__string null-string">
                            <div class="null-string__text">
                                Ничего не выбрано
                            </div>
                        </div>
                        <div class="list__arrow-down" hidden>
                            <img src="{% static 'img/Arrow 6.png'%}" alt="Arrow" class="list__img ">
                        </div>
                    </div>
                    <div class="subblock-button">
                        <a href="#popup-button">
                            <button type="submit" class="subblock-button__button" tabindex = "11">Готово</button>
                        </a>
                    </div>
                    <p id="log"></p>
                </div>
            </form>
        </div>
        <div class="popup" id="popup">
            <a href="#body" class="popup__area">
                <div class="popup__cross"></div>
            </a>
            <div class="popup__body">
                <div class="popup__content">
                    <div class="popup__text">
                        <div class="list-popup">
                            {% for i in category%}
                            
                            <div class="list-popup__subblock">
                                <div class="list-popup__block popup-category">
                                    <div class="popup-category__category">{{i}}</div>
                                    <img src="{% static './img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
                                <div class="list-popup__array">
                                    {% for j in ingredients%}
                                    {% if i.category_id == j.parent_id %}
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">{{j}}</div>
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                            </div>
                            {%endfor%}
                            

                            {% comment %} <div class="list-popup__subblock">
                                <div class="list-popup__block popup-category">
                                    <div class="popup-category__category">Категория №1</div>
                                    <img src="{% static './img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
                                <div class="list-popup__array">
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №1.1</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №1.2</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №1.3</div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            
                            {% comment %} <div  class="list-popup__subblock">
                                <div class="list-popup__block popup-category ">
                                    <div class="popup-category__category">Категория №2</div>
                                    <img src="{% static 'img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
        
                                
                                <div class="list-popup__array">
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №2.1</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №2.2</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №2.3</div>
                                    </div>
                                </div>
                            </div>
                            <div  class="list-popup__subblock">
                                <div class="list-popup__block popup-category ">
                                    <div class="popup-category__category">Категория №3</div>
                                    <img src="{% static 'img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
        
                                
                                <div class="list-popup__array">
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №3.1</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №3.2</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №3.3</div>
                                    </div>
                                </div>
                            </div>
                            <div  class="list-popup__subblock">
                                <div class="list-popup__block popup-category ">
                                    <div class="popup-category__category">Категория №4</div>
                                    <img src="{% static 'img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
        
                                
                                <div class="list-popup__array">
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №4.1</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №4.2</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №4.3</div>
                                    </div>
                                </div>
                            </div>
                            <div  class="list-popup__subblock">
                                <div class="list-popup__block popup-category ">
                                    <div class="popup-category__category">Категория №5</div>
                                    <img src="{% static 'img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
        
                                
                                <div class="list-popup__array">
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №5.1</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №5.2</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №5.3</div>
                                    </div>
                                </div>
                            </div>
                            <div  class="list-popup__subblock">
                                <div class="list-popup__block popup-category ">
                                    <div class="popup-category__category">Категория №6</div>
                                    <img src="{% static 'img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
        
                                
                                <div class="list-popup__array">
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №6.1</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №6.2</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №6.3</div>
                                    </div>
                                </div>
                            </div>
                            <div  class="list-popup__subblock">
                                <div class="list-popup__block popup-category ">
                                    <div class="popup-category__category">Категория №7</div>
                                    <img src="{% static 'img/Arrow 6.png'%}" alt="arrow" class="list-popup__arrow list-popup__arrow_rotate">
                                </div>
        
                                
                                <div class="list-popup__array">
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №7.1</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №7.2</div>
                                    </div>
                                    <div class="list-popup__block popup-ingredient">
                                        <div class="popup-ingredient__ingredient">Ингредиент №7.3</div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="popup-notification" id="popup-button">
            <a href="#body" class="popup-notification__area"></a>
            <div class="popup-notification__body">
                <div class="popup-notification__content">
                    <a href="#body" class="popup-notification__close"></a>
                    <div class="popup-notification__text">
                        Диета успешно создана
                        <img src="{% static 'img/done_1.png'%}" alt="accept" class="popup-notification__image">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>